
@if (ViewData.ModelState.ErrorCount > 0)
{
    //<div style="padding-top: 15px;"></div>

    <div class="container w-75 alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h3 id="msgResult" style="padding-top: 20px" class="text-center">Ops ... Algo deu errado :(</h3>
        <div style="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}